.meetingtitle {
    font-size: 32px;
    font-weight: bold;
}

.meetingcontent {
    display: block;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.createdAtmeeting {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.48);
    margin-bottom: 42px;
    display: block;
}

.meetings-box {
    display: flex;
    justify-content: center;
}

.meetings {
    display: flex;
    justify-content: center;
    /*flex-direction: column;*/
    /*max-width: 1000px;*/
    align-items: center;
}

.meeting-box {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 32px;
    display: block;

}