body {
    font-family: 'Roboto', sans-serif;
    /*width: 1000px;*/
}

main {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}


.content-box {
    display: flex;
    flex-direction: column;
}
.inputtitle {
    width: 430px;
}

.content {
    height: 200px;
}

.title {
    display: flex;
    flex-direction: column;
}

.resta {
    display: flex;
    flex-direction: column;
    margin-right: 150px;
}

.titleandres {
    display: flex;
    margin-top: 50px;
    margin-bottom: 32px;
    justify-content: space-between;
}

.locationandtime {
    display: flex;
    margin-top: 32px;
    margin-bottom: 20px;
}

.btn {
    display: flex;
    float:right;
}

.createbtn {
    width: 100px;
    height: 42px;
    color: white;
    background-color: rgba(255, 107, 0, 1);
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
}

.locationan {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.visittime {
    display: flex;
    flex-direction: column;
}

.modifybtn {
    width: 100px;
    height: 42px;
    color: white;
    background-color: rgba(255, 107, 0, 1);
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

header {
    display: flex;
}
/**/

.user-container {
    display: flex;
}

.username {
    font-size: 16px;
    font-weight: bold;
    margin-right: 12px;
    max-width: 371px;
}

.createdAt {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.48);
}

.userBox {
    display: flex;
    align-items: center;
}

.userGrade {
    color: rgba(0, 0, 0, 0.48);
}

.userInfo {
    height: 40px;
    min-width: 153px;
    max-width: 323px;
    margin-left: 6px;
}

.usersymbol {
    color: aqua;
    width: 40px;
    background-color: blue;
}

.searchbtn {
    color: white;
    background-color: rgba(255, 107, 0, 1);
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 50px;
    height: 30px;
}

.searchinput {
    border-style: none;
}

.searchstyle {
    border-radius: 8px;
    border-width: 0.6px;
    border-style: solid;
    display: flex;
    justify-content: space-between;
    padding: 12px 12px 8px 8px;
    border-color: rgba(0,0,0,0.38);
    width: 450px;
}

.meetingsearch {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.searchform {
    margin-bottom: 6px;
}