<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <title>식당 및 리뷰 정보</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/detailedReview.css">
</head>
<body>
<header>
    <div th:replace="~{header.html::currentuser}"></div>
    <div th:replace="~{header.html::meetingSearch}"></div>
</header>
<main>
    <div class="reviewuser-box">
        <div class="reviewuser-body">
            <div class="user-container">
                <div class=usersymbol></div>
                <div class="userInfo">
                    <div class="userBox">
                        <span class="username" th:text="${meeting.getUsername()}">유저 이름</span>
                        <span class="createdAt"
                              th:text="${#temporals.format(meeting.created_at, 'yyyy-MM-dd HH:mm')}">작성 시간</span>
                    </div>
                    <span class="userGrade">foodie adventurer</span>
                </div>
            </div>
            <div class="restaurant-info">
                <div class="withoutadress">
                    <span th:text="${meeting.restaurant.name}">식당 이름</span>

                    <span class="restcategory" th:text="${meeting.restaurant.category}">식당 카테고리</span>

                    <span th:text="${meeting.restaurant.avgRating}">식당 평점</span>
                </div>
                <span class="restaddress" th:text="${meeting.restaurant.address}">식당 주소</span>
            </div>
            <div class="modianddel">
                <div th:if="${isOwner}">
                    <button type="button" id="modify-btn"
                            th:onclick="|location.href='@{/add-meeting?meetingId={meetingId}(meetingId=${meeting.id})}'|"
                            class="modifyReviewBtn">modify
                    </button>
                </div>
                <input type="hidden" id="meeting-id" th:value="${meeting.id}">
                <div th:if="${isOwner}">
                    <button type="button" id="delete-btn" class="deleteReviewBtn">delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- -->
    <div class="reviews">
        <div class="review">
            <div><span class="reviewtitle" th:text="${meeting.title}">Title</span></div>
            <div class="withouttitleandimages">
                <!--                <span th:text="${meeting.visitTime}">미팅 방문시간</span>-->
            </div>
            <div>
                <span class="reviewcontent" th:text="${meeting.content}">미팅 내용</span></div>
        </div>

    </div>

    <!-- -->
    <section class="comment" id="meetingcomment">
        <div class="createcomment">
            <label for="content">Write your comment</label>
            <div class="entercommentbox">
                <textarea required placeholder="Type here..." class="entercomment" id="content"
                          name="content"></textarea>
                <button class="commentBtn" type="button" id="commentBtn">Comment</button>
            </div>
        </div>

        <div class="commentlist" id="comments-list">
            <div th:each="comment : ${comments}" th:data-comment-id="${comment.id}">
                <div class="commentuser">
                    <div class=usersymbol></div>
                    <div class="userInfo">
                        <div class="userBox">
                            <span class="username" th:text="${comment.username}">유저 이름</span>
                            <span class="createdAt"
                                  th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd HH:mm:ss')}">작성 시간</span>
                        </div>
                        <span class="userGrade">foodie adventurer</span>
                    </div>
                </div>
                <span th:text="${comment.content}" class="comment-content">댓글 내용</span>
                <input type="text" class="comment-edit-field" name="content" th:value="${comment.content}" required
                       placeholder="Type here..." style="display: none;">
                <button type="button" class="edit-comment-btn">edit</button>
                <button type="button" class="save-comment-btn" style="display: none;">edit save</button>
                <button type="button" class="delete-comment-btn">delete</button>
            </div>
        </div>
    </section>
</main>
<script src="/js/comment.js"></script>
<script src="/js/meeting.js"></script>


</body>
</html>