<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 정보 찾기</title>
    <link th:href="@{/css/forgot.css}" rel="stylesheet">
</head>
<body>
    <form th:action="@{/forgot}" method="post" id="forgotForm">
        <h1>회원 정보 페이지</h1>
        <label><strong>Username</strong></label>
        <input type = "text" id="username" name = "username" placeholder = "Enter your username" required>
        <label><strong>Email</strong></label>
        <input type="text" id="email" name="email" placeholder="Enter your email" required>
        <button type="submit">찾기</button>
        <a th:href="@{/login}">로그인</a>
    </form>
    <script src="/js/passwordFind.js"></script>
</body>
</html>