<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-.8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 정보 찾기</title>
    <link th:href="@{/css/forgot.css}" rel="stylesheet">
</head>
<body>
<form th:action="@{/forgot}" method="post">
    <h1>회원 정보 페이지</h1>
    <label><strong>Username</strong></label>
    <input type = "text" name = "username" placeholder = "Enter your username">
    <label><strong>Email</strong></label>
    <input type="text" name="email" placeholder="Enter your email">
<!--    <button th:onclick="|javascript:passwordFind()|">찾기</button>-->
    <button>찾기</button>
</form>
<!--<script src="/js/passwordFind.js"></script>-->
</body>
</html>