<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/css/header.css">
</head>
<body>
<header>
    <div th:fragment="currentuser" class="user-container">
        <div class="usersymbol"></div>
        <div class="userInfo">
            <div class="userBox">
                <span class="username" th:text="${currentUser.getEnteredUsername()}">유저 이름</span>
            </div>
            <span class="userGrade">foodie adventurer</span>
        </div>
    </div>

    <div th:fragment="meetingSearch" style="min-width: 700px; max-width: 900px; margin: 50px auto 100px auto;">

        <form action="/searchMeetings" method="GET">
            <input type="text" name="keyword" placeholder="검색...">
            <button type="submit">검색</button>
        </form>
        <div>검색 키워드: <!--/*@thymesVar id="keyword" type=""*/-->
        <span th:text="${keyword}"></span></div>
    </div>
</header>

</body>
</html>