<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Members</title>
</head>
<body>
<h1>Manage Members</h1>
<div th:if="${message}" th:text="${message}"></div>
<form th:action="@{/admin/delete}" method="post">
    <select name="userId">
        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}"></option>
    </select>
    <button type="submit">삭제</button>
</form>
<form th:action="@{/admin/manage}" method="post">
    <p>부회원 승급자 목록</p>
    <select name="userId">
        <option th:each="associate : ${associates}" th:value="${associate.id}" th:text="${associate.username}"></option>
    </select>
    <input type="hidden" name="newRole" value="ROLE_ASSOCIATE" />
    <button type="submit">변경</button>
</form>
<form th:action="@{/admin/manage}" method="post">
    <p>정회원 승급자 목록</p>
    <select name="userId">
        <option th:each="member : ${members}" th:value="${member.id}" th:text="${member.username}"></option>
    </select>
    <input type="hidden" name="newRole" value="ROLE_MEMBER" />
    <button type="submit">변경</button>
</form>
</body>
</html>
