<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/mainMeeting.css">
</head>
<body>
<header>
    <div th:replace="~{header.html::currentuser}"></div>
    <div th:replace="~{header.html::meetingSearch}"></div>
</header>

<main>
    <div class="meetings-box">
        <div class="meetings">
            <div class="meeting-box" th:each="meeting : ${searchmeetings}" th:data-meeting-id="${meeting.id}">

                <span class="meetingtitle" th:text="${meeting.title}">Title</span>
                <span class="meetingcontent" th:text="${meeting.content}">미팅 내용</span>
                <span class="createdAtmeeting"
                      th:text="${#temporals.format(meeting.created_at, 'yyyy-MM-dd HH:mm')}">작성 시간</span>
            </div>
        </div>

    </div>
</main>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        // 모든 'clickable' 클래스를 가진 div 요소에 대해 이벤트 리스너 추가
        document.querySelectorAll('.meeting-box').forEach(function (div) {
            div.addEventListener('click', function () {
                const meetingId = this.getAttribute('data-meeting-id');
                window.location.href = `/meeting/${meetingId}`; // 페이지 리다이렉션
            });
        });
    });
</script>
</body>

</html>