<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body class="gradient-custom">
<section class="d-flex vh-100">
    <div class="container-fluid row justify-content-center align-content-center">
        <div class="card" th:style="'border-radius: 1rem;'">
            <div class="card-body p-5 text-center">
                <h2 class="text-black">LOGO</h2>
                <p class="text-bg-dark-50 mt-2">비밀번호 변경</p>

                <div class = "mb-2">
                    <form th:action="@{/changePassword}" method="post">
                        <div class="mb-3 text-left">
                            <label class="form-label text-black"><strong>currentPassword</strong></label>
                            <input type="password" class="form-control" name="password" placeholder="Enter your password" required>
                        </div>
                        <div class="mb-3 text-left">
                            <label class="form-label text-black"><strong>newPassword</strong></label>
                            <input type="password" class="form-control" name="newPassword" placeholder="Enter your newPassword" required>
                        </div>

                        <button type="submit" class="btn btn-primary ui-state-focus">비밀번호 변경하기</button><br><br>
                    </form>
                </div>
            </div>
        </div>

        <div class="card" th:style="'border-radius: 1rem;'">
            <div class="card-body p-5 text-center">
                <h2 class="text-black">LOGO</h2>
                <p class="text-bg-dark-50 mt-2">계정 삭제</p>

                <div class = "mb-2">
                    <form th:action="@{/remove}" method="post">
                        <div class="mb-3 text-left">
                            <label class="form-label text-black"><strong>Password</strong></label>
                            <input type="password" class="form-control" id = "password" name="password" placeholder="Enter your password" required>
                        </div>

                        <button type="submit" class="btn btn-primary ui-state-focus">탈퇴하기</button>
                    </form>
                    <form>
                        <p>-------------------- 또는 --------------------</p>
                        <button type="button" class="btn btn-secondary" onclick="location.href='/reviews'" style="color: white">돌아가기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script th:inline="javascript">
    /*<![CDATA[*/
    var error = [[${error}]];
    if (error) {
        alert(error);
    }
    /*]]>*/
</script>
</body>
</html>
