<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">

<head>
  <meta charset="UTF-8">

<div layout:fragment="content" style="min-width: 700px; max-width: 900px; margin: 50px auto 100px auto;">

  <div>
  <form action="/search" method="GET">
    <input type="text" name="keyword" placeholder="리뷰, 식당, 업종 검색...">
    <button type="submit">검색</button>
  </form>
  </div>
  <!-- 최신순 정렬 버튼 -->
  <form action="/reviews" method="GET" style="display:inline;">
    <input type="hidden" name="sort" value="latest">
    <button type="submit" class="btn btn-primary">최신순</button>
  </form>

  <!-- 평점순 정렬 버튼 -->
  <form action="/reviews" method="GET" style="display:inline;">
    <input type="hidden" name="sort" value="rating">
    <button type="submit" class="btn btn-primary">평점순</button>
  </form>

  <!-- 조회순 정렬 버튼 -->
  <form action="/reviews" method="GET" style="display:inline;">
    <input type="hidden" name="sort" value="viewCount">
    <button type="submit" class="btn btn-primary">조회순</button>
  </form>

  <div class="row">
    <th:block th:each="review : ${reviews}">
      <div class="col-md-4 margin">
        <div class="card">
          <a th:href="@{/review/{id}(id=${review.id})}" class="text-dark">
            <!-- 리뷰 이미지를 표시합니다. 이미지가 없는 경우 기본 이미지를 표시하도록 설정할 수 있습니다. -->
            <!-- imgPaths 리스트가 비어 있지 않은 경우 첫 번째 이미지를 표시 -->
            <img th:if="${!review.imgPaths.isEmpty()}" th:src="${review.imgPaths[0]}" class="card-img-top" th:alt="'사진이 없습니다'" width="300" height="300">

            <!-- imgPaths 리스트가 비어 있는 경우 기본 이미지를 표시 -->
            <img th:unless="${!review.imgPaths.isEmpty()}" src="/files/default.png" class="card-img-top" alt="사진이 없습니다" width="300" height="300">

            <div class="card-body">
              <div><strong>제목: </strong> <span th:text="${review.title}">리뷰 타이틀</span></div>
              <div><strong>평점: </strong> <span th:text="${review.rating}">리뷰 평점</span></div>
              <div><strong>작성자: </strong> <span th:text="${review.username}">작성자</span></div>
              <div><strong>조회수: </strong> <span th:text="${review.viewCount}">조회수</span></div>
            </div>
          </a>
        </div>
      </div>
    </th:block>
  </div>

</div>

</html>